<div class="site-category">
    <ul class='cat1'>
      <li><a href="/">Home</a></li>
      <li><a href="/">Backend</a>
        <ul>
            <li><a href="/Backend/Crawling">Crawling</a></li>
            <li><a href="/Backend/Python"></a>Python</li>
            <li><a href="/Backend/Tensorflow">Tensorflow</a></li>
            <li><a href="/Backend/MachineLearning">Machine Learning</a></li>
        </ul>
      </li>

      <li><a href="/">Frontend</a>
        <ul>
          <li><a href="/Frontend/etc">etc</a></li>
        </ul>
      </li>

      <li><a href="/">Development Enviroment</a>
        <ul>
            <li><a href="/DE/Github Blog">Github Blog</a></li>
            <li><a href="/DE/Git">Git</a></li>
            <li><a href="/DE/Docker">Docker</a></li>
            <li><a href="/DE/Ubuntu">Ubuntu</a></li>
            <li><a href="/DE/Java">Java</a></li>
        </ul>
      </li>

    </ul>
  </div>
